---
- name: Deploy Simple .NET Core App on Amazon Linux 2
  hosts: all
  become: yes
  vars:
    app_path: /opt/SimpleDotNetAPI
    docker_image: simple-dotnet-api:latest
    container_name: SimpleDotNetAPI

  tasks:
    - name: Ensure Docker is installed
      package:
        name: docker
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install git
      package:
        name: git
        state: present

    - name: Create app directory
      file:
        path: "{{ app_path }}"
        state: directory
        mode: '0755'

    - name: Copy project files to remote
      copy:
        src: ../
        dest: "{{ app_path }}"
        remote_src: no

    - name: Build Docker image
      community.docker.docker_image:
        path: "{{ app_path }}"
        name: "{{ docker_image }}"
        state: present

    - name: Stop existing container if running
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent

    - name: Run Docker container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_image }}"
        state: started
        restart_policy: always
        ports:
          - "8080:8080"
