---
- name: Deploy Spring Boot App using Ansible
  hosts: webserver
  become: yes

  tasks:

    - name: Install Java 17
      yum:
        name: java-17-amazon-corretto
        state: present

    - name: Create app directory
      file:
        path: /opt/springboot-app
        state: directory
        owner: ec2-user
        group: ec2-user

    - name: Copy JAR file
      copy:
        src: ../springboot-app/target/demo-0.0.1-SNAPSHOT.jar
        dest: /opt/springboot-app/app.jar
        owner: ec2-user
        group: ec2-user
        mode: '0755'

    - name: Create systemd service file
      copy:
        dest: /etc/systemd/system/springboot.service
        content: |
          [Unit]
          Description=Spring Boot Application
          After=network.target

          [Service]
          User=ec2-user
          ExecStart=/usr/bin/java -jar /opt/springboot-app/app.jar
          SuccessExitStatus=143

          [Install]
          WantedBy=multi-user.target

    - name: Reload systemd
      command: systemctl daemon-reload

    - name: Enable service
      systemd:
        name: springboot
        enabled: yes

    - name: Start service
      systemd:
        name: springboot
        state: restarted
